doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content="#{desc}")
    title #{desc}
    link(rel='stylesheet' type='text/css' href='stylesheets/stylesheet.css')
    style.
      #header_wrap .inner {
        padding: 30px 10px 30px 10px;
      }
      .store img{
        width:129px;
        height:45px;
      }
      #main_content{
        padding-bottom: 0px;
        padding-top: 10px;
      }
      .section {
        border-bottom: solid 1px;
        margin: 20px 0;
      }
      .section .main{
        float: left;
        margin-right: 70px;
        width: 316px;
      }
      #deprecated .inner{
        margin: 0 auto;
      }
      #language{
        padding: 10px;
      }
      .qr{
        margin-top: 20px; 
        width: 150px;
        height: 150px;
      }
      .clear-fix:after
      {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
      }
      .phoneonly{
        display:none;
      }
      .china_download{
        margin-left: 10px;
      }
      @media screen and (max-width: 480px) {
        
        .phoneonly{
          display:inline;
          padding-left: 25px;
        }
        .section .main{
          float: none;
          margin-right: 0px;
          width: auto;
        }
        .qr{
          display:none;
        }
        #header_wrap .inner{
          padding: 13px 10px 5px 10px;
        }
        #deprecated .inner{
          padding: 5px 10px;
        }
        #language{
          display: block;
          position: absolute;
          top: 0;
          right: 10px;
          z-index: 10;
          color: #fff;
          background: #0090ff;
          padding: 10px
          box-shadow: 0 0 10px;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    script(type='text/javascript').
       
       window.onload = function(){
        
        var langText = '切換到中文';
        var langHref = 'zh.html';
        if(location.href.indexOf('zh.html') != -1){
          langText = 'Switch to English';
          langHref = 'en.html';
        }
        var langEl = document.getElementById('language');
        langEl.href = langHref;
        langEl.innerHTML = langText;

        function is_weixin() {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == "micromessenger") {
                return true;
            } else {
                return false;
            }
        }
        var isWeixin = is_weixin();
        var winHeight = typeof window.innerHeight != 'undefined' ? window.innerHeight : document.documentElement.clientHeight;
        function loadHtml(){
          var div = document.createElement('div');
          div.id = 'weixin-tip';
          div.innerHTML = '<p><img src="live_weixin.png" alt="微信打开"/></p>';
          document.body.appendChild(div);
        }
        
        function loadStyleText(cssText) {
              var style = document.createElement('style');
              style.rel = 'stylesheet';
              style.type = 'text/css';
              try {
                  style.appendChild(document.createTextNode(cssText));
              } catch (e) {
                  style.styleSheet.cssText = cssText; //ie9以下
              }
                var head=document.getElementsByTagName("head")[0]; //head标签之间加上style样式
                head.appendChild(style); 
        }
        var cssText = "#weixin-tip{position: fixed; left:0; top:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80); width: 100%; height:100%; z-index: 100;} #weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%;}";
        if(isWeixin){
          loadHtml();
          loadStyleText(cssText);
        }
       }
  body
    //Header
    
    #header_wrap.outer
      header.inner
        a#language(href='#{langHref}').
          #{langText}
        h1#project_title= desc
        

    //Main content
    #main_content_wrap.outer
      section#main_content.inner
        .section.clear-fix
          .main
           
            h3 #{android} 1.2.9(20180811)
            h3
              a.china_download(href='http://rick-test.oss-cn-shanghai.aliyuncs.com/test/midi-browser-beta-new%2B%281%29.apk', onclick='') #{china_download} 
              a(href='https://s3-ap-northeast-1.amazonaws.com/duo-mob/midi-browser-beta-new+(1).apk', onclick='') #{download}
            strong #{android_desc}
            .store
              a(href='https://play.google.com/store/apps/details?id=com.duosuccess.midi')
                img(alt='get_from_google_play' src='images/play.png')
                
          .side
            img.desktoponly.qr(src='files/android.png')

        .section.clear-fix
          .main
            h3 #{ios}
            h3
              a.phoneonly(href='files/ios.png') #{qr}
            .store
              a(href='https://itunes.apple.com/cn/app/id812021388')
                img(src='images/appstore.png')
            h6 #{ios_desc1}
            h6 #{ios_desc2}
          .side
            img.desktoponly.qr(src='files/ios.png')


      #footer_wrap.outer
        footer.inner
          p #{contact}
            a(href='mailto:racke1983cn@gmail.com?Subject=MidiBrowser').
              &nbsp racke1983cn@gmail.com
          p.copyright #{desc} maintained by Rick Li






